<div class="container">
    <hr>
    <h2 class="text-center">Buscar envio</h2>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="ingrese el id" aria-label="Recipient's username"
            aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Buscar</button>
        </div>
    </div>
    <hr>
    <div>
        <table class="table">
            <thead class="table-dark"></thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Apellido</th>
                <th>Ciudad Origen</th>
                <th>Ciudad Destino</th>
                <th>Peso</th>
                <th>Costo</th>
                <th>Fecha de llegada</th>
            </tr>
            <body>
                <tr>
                    <td>nombre</td>
                </tr>
            </body>

        </table>
    </div>
</div>